<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Site Survey</title>
    <link href="../Styles/Forms.css" rel="stylesheet" />    
    </head>
<body>
    <form id="TheForm">

        <input type="hidden" name="FormName" value="Sectional Door Installation Survey" />
        <input type="hidden" name="Created" value="" />
        <input type="hidden" name="CreatedBy" value="" />
        <input type="hidden" name="Updated" value="" />
        <input type="hidden" name="UpdatedBy" value="" />
        <input type="hidden" name="Template" value="" />

        <table style="width: 70%;">
            <tbody>
                <tr>
                    <td colspan="8" class="texthead"; style="text-align: center;">Sectional Door Installation Survey</td>
                </tr>
                <tr>
                    <td colspan="8">Rules and Guidelines
                        <br />
                        <br />
                        1. A double asterisk means enter further details in the notes section of this form. Examples **Other in Fixing Material or <strong>**Not Listed</strong> in Extras.<br />
                        2. All dimensions are viewed from inside unless stated.<br />
                        3. Any labels highlighted in red means they are mandatory fields and a value must be entered.</td>
                </tr>
                <tr>
                    <td style="background-color: #fff7df; font-weight: 700;" colspan="4">Door Location</td>
                    <td style="background-color: #fff7df; font-weight: 700; text-align: left;" colspan="4">Asset Number</td>
                </tr>
                <tr>
                    <td style="background-color: #fff7df;" colspan="4"><input id="DoorLocation" name="DoorLocation" type="text" /></td>
                    <td style="background-color: #fff7df;" colspan="4"><input id="AssetNumber" name="AssetNumber" type="text" /></td>
                </tr>

                <tr>
                    <td style="background-color: #fff7df; font-weight: 700;" colspan="4">Door Type</td>
                    <td style="background-color: #fff7df; font-weight: 700; text-align: left;" colspan="4">Engineer Name</td>
                </tr>

                <tr>
                    <td style="background-color: #fff7df; font-weight: 700;" colspan="4"><input id="DoorType" name="DoorType" type="text" /></td>
                    <td style="background-color: #fff7df;" colspan="4"><input id="EngineerName" name="EngineerName" type="text" /></td>
                </tr>
                                <tr>
                    <td colspan="8" class="texthead"; style="text-align: center;">
                        Fixing Type and Track
                    </td>
                </tr>

                <tr>
                    <td colspan="8">
                        
                        <input type="hidden" id="ImageOption_FixingTypeA" name="ImageOption_FixingTypeA" value="" />
                        <input type="hidden" id="ImageOption_FixingTypeB" name="ImageOption_FixingTypeB" value="" />
                        <input type="hidden" id="ImageOption_TrackType" name="ImageOption_TrackType" value="" />

                        <table style="background-color: #fff;">
                            <tr>
                                <td style="text-align: center;">
                                    <img src="Images/FixingA.png" id="FixingA" class="ImageOption" optionGroup="ImageOption_FixingTypeA" style="height: 110px;" />
                                </td>
                                <td>
                                    <img src="Images/FixingB.png" id="FixingB" class="ImageOption" optionGroup="ImageOption_FixingTypeA" style="height: 110px;"/>
                                </td>
                                <td>
                                    <img src="Images/FixingC.png" id="FixingC" class="ImageOption" optionGroup="ImageOption_FixingTypeA" style="height: 110px;"/>
                                </td>
                                <td  style="text-align: center;">
                                    <img src="Images/FixingD.png" id="FixingD" class="ImageOption" optionGroup="ImageOption_FixingTypeA" style="height: 110px;"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <img src="Images/FixingE.png" id="FixingE" class="ImageOption" optionGroup="ImageOption_FixingTypeB" style="height: 110px;"/></td>
                                <td>
                                    <img src="Images/FixingF.png" id="FixingF" class="ImageOption" optionGroup="ImageOption_FixingTypeB" style="height: 110px;"/></td>
                                <td>
                                    <img src="Images/TrackA.png" id="TrackA" class="ImageOption" optionGroup="ImageOption_TrackType" style="height: 110px;"/></td>
                                <td style="text-align: center;">
                                    <img src="Images/TrackB.png" id="TrackB" class="ImageOption" optionGroup="ImageOption_TrackType" style="height: 110px;"/></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="8" class="texthead"; style="text-align: center">
                        Fixing Dimensions</td>
                </tr>
                <tr>
                    <td colspan="8">
                        <div style="background-image: url('Images/DoorFrameSectional.png'); background-repeat:no-repeat; background-size: contain; background-position:center; width:800px; height: 590px; margin: 0px auto;">

                            <input id="Headroom" name="Headroom" type="text" style="position: relative; top: 80px; left: 249px; height: 19px; padding: 2px; width: 98px; text-align: center" />
                            <input id="Clearance" name="Clearance" type="text" style="position: relative; top: 174px; left: -36px; height: 19px; padding: 2px; width: 98px; text-align: center" />
                            <input id="Width" name="Width" type="text" style="position: relative; top: 260px; left: 167px; height: 19px; padding: 2px; width: 98px; text-align: center" />
                            <input id="Height" name="Height" type="text" style="position: relative; top: 357px; left: 17px; height: 19px; padding: 2px; width: 98px; text-align: center" />
                            <input id="SideRoomLeft" name="SideRoomLeft" type="text" style="position: relative; top: 412px; left: -343px; height: 19px; padding: 2px; width: 98px; text-align: center" />
                            <input id="SideRoomRight" name="SideRoomRight" type="text" style="position: relative; top: 411px; left: 130px; height: 19px; padding: 2px; width: 97px; text-align: center" />
                        </div>

                    </td>
                </tr>

                <tr>
                    <td colspan="8" class="texthead">
                        Additional Dimensions</td>
                </tr>
                <tr>
                    <td style="width: 25%;" colspan="2">
                        Dimension E</td>
                    <td style="width: 25%;" colspan="2">
                        &nbsp;</td>
                    <td style="width: 25%;" colspan="2">
                        &nbsp;</td>
                    <td style="width: 25%;" colspan="2">
                        &nbsp;</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input id="DimensionE" name="DimensionE" type="text" placeholder="Floor to ceiling at back of track...."  required/></td>
                    <td colspan="2">
                        &nbsp;</td>
                    <td colspan="2">
                        &nbsp;</td>
                    <td colspan="2">
                        &nbsp;</td>
                </tr>

                 <tr>
                    <td colspan="8"  class="texthead">
                        Additional Sectional Door Information</td>
                </tr>

                <tr>
                    <td colspan="2">
                        Motor Type</td>
                    <td colspan="2"; style="text-align: left">
                        Operation Type</td>
                    <td colspan="2"; style="text-align: left">
                        Operation Side</td>
                    <td colspan="2"; style="text-align: left">
                        Panel Type</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <select id="MotorType" name="MotorType">                            
                            <option>1ph Standard Sectional</option>
                            <option>3ph Standard Sectional</option>
                            <option>1ph Fast Action Sectional</option>
                            <option>3ph Fast Action Sectional</option>
                            <option>Fold Up Sectional</option>
                            <option>Manual Sectional</option>
                            <option>**Other</option>                                                            
                        </select></td>
                    <td colspan="2">
                        <select id="OperationType" name="OperationType">                            
                                <option>Dead Man</option>
                                <option>Fully Auto</option>
                                <option>Chain Op</option>
                                <option>Push Up</option>                            
                        </select></td>
                    <td colspan="2">
                        <select id="OperationSide" name="OperationSide">  
                            <option>Choose one.....</option>
                            <option>Left</option>
                            <option>Right</option>
                        </select></td>
                    <td colspan="2">
                        <select id="PanelType" name="PanelType">                            
                            <option>ISO 40</option>
                            <option>ISO 60</option>
                            <option>ISO 80</option>                            
                        </select></td>
                </tr>

                <tr>
                    <td colspan="2">
                        RAL/BS Colour</td>
                    <td colspan="2" style="text-align: left">
                        Custom RAL Code</td>
                    <td colspan="2" style="text-align: left">
                        Fixing Material</td>
                    <td colspan="2" style="text-align: left">
                        Facia</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <select id="RALColour" name="RALColour"> 
                            <option>Choose Colour.....</option>
                            <option>Standard SDG Colour</option>
                            <option>RAL 9002 Grey White</option>
                            <option>RAL 9006 White Aluminium</option>
                            <option>RAL 9007 Grey Aluminium</option>   
                            <option>RAL 7016 Anthracite Grey</option>
                            <option>RAL 9010 Pure White</option>
                            <option>RAL 8014 Sepia Brown </option>
                            <option>RAL 5010 Gentian Blue</option>
                            <option>RAL 3000 Flame Red</option>
                            <option>RAL 6009 Fir Green</option>
                            <option>RAL 7005 Mouse Grey</option>
                            <option>RAL 5003 Saphire Blue</option>
                            <option>RAL 9005 Jet Black</option>
                            <option>NON Standard RAL Colour</option>
                            <option>Custom RAL Code</option>
                        </select>
                    </td>
                    <td colspan="2">
                        <input id="CustomRAL" name="CustomRAL" type="text" /></td>
                    <td colspan="2">
                        <select id="FixingMaterial" name="FixingMaterial">                            
                            <option>Steel</option>
                            <option>Wood</option>
                            <option>Brick</option>
                            <option>**Other</option>
                        </select></td>
                    <td colspan="2">
                        <select id="Facia" name="Facia">                            
                            <option>No</option>
                            <option>**Yes</option>
                        </select></td>
                </tr>

                <tr>
                    <td colspan="2">
                        Number Of Engineers</td>
                    <td colspan="2" style="text-align: left">
                        Labour Time (Hours)</td>
                    <td colspan="2" style="text-align: left">
                        Plant Needed</td>
                    <td colspan="2" style="text-align: left">
                        MEWP Required</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <input id="NumberOfEngineers" name="NumberOfEngineers" type="text" /></td>
                    <td colspan="2">
                        <input id="LabourTime" name="LabourTime" type="text" /></td>
                    <td colspan="2">
                        <select id="PlantNeeded" name="PlantNeeded">                            
                            <option>No</option>
                            <option>Yes</option>
                        </select></td>
                    <td colspan="2">
                        <select id="MEWPRequired" name="MEWPRequired">                            
                            <option>No</option>
                            <option>Yes</option>
                            <option>8m Battery Scissor Lift - JLG2630ES, LCap - 230Kg, PWidth - 0.76m</option>
                            <option>8m Battery Scissor Lift - JLG2646ES, LCap - 450Kg, PWidth - 1.17m</option>
                            <option>6m Battery Scissor Lift - JLG6RS, LCap - 230Kg, PWidth - 0.81m</option>
                            <option>8m Diesel Scissor Lift - Genie GS2668RT, LCap - 567Kg, PWidth - 1.55m</option>
                            <option>8m Diesel Scissor Lift - Skyjack SJ6826RT, LCap - 567Kg, PWidth - 1.76m</option>
                            <option>**Other</option>  
                        </select></td>
                </tr>

                <tr>
                    <td colspan="8" class="texthead">
                        Extras</td>
                </tr>

                <tr>
                    <td>
                        Activation Sensor</td>
                    <td style="width: 5%;">
                        <input id="Extras1" name="Extras1" type="number" /></td>
                    <td style="text-align: left">
                        Key Switch In Control Panel Lid</td>
                    <td style="width: 5%;">
                        <input id="Extras4" name="Extras4" type="number" /></td>
                    <td style="text-align: left">
                        Induction Loop</td>
                    <td style="width: 5%;">
                        <input id="Extras7" name="Extras7" type="number" /></td>
                    <td style="text-align: left">
                        Dexion</td>
                    <td style="width: 5%;">
                        <input id="Extras10" name="Extras10" type="number" /></td>
                </tr>

                <tr>
                    <td>
                        Remote Control</td>
                    <td>
                        <input id="Extras2" name="Extras2" type="number" /></td>
                    <td style="text-align: left">
                        Emergency Stop In Ctrl Panel Lid</td>
                    <td>
                        <input id="Extras5" name="Extras5" type="number" /></td>
                    <td style="text-align: left">
                        Additional Photocell</td>
                    <td>
                        <input id="Extras8" name="Extras8" type="number" /></td>
                    <td>
                        <select id="SteelSpring" name="SteelSpring">                            
                            <option>Spring Mounting Steel Box Section - 80x40x2mm</option>
                            <option>Spring Mounting Steel Box Section - 120x40x2mm</option>
                        </select></td>
                    <td>
                        <input id="Extras11" name="Extras11" type="number" /></td>
                </tr>

                <tr>
                    <td style="text-align: left">
                        Traffic Lights</td>
                    <td>
                        <input id="Extras3" name="Extras3" type="number" /></td>
                    <td style="text-align: left">
                        Rows of Vision Windows</td>
                    <td>
                        <input id="Extras6" name="Extras6" type="number" /></td>
                    <td style="text-align: left">
                        Shoot Bolt Kit</td>
                    <td>
                        <input id="Extras9" name="Extras9" type="number" /></td>
                    <td style="text-align: left">
                        <select id="Seals" name="Seals">                            
                            <option>No Seals</option>
                            <option>**Soffit Seal</option>
                        </select></td>
                    <td>
                        <input id="Extras12" name="Extras12" type="number" /></td>
                </tr>

                <tr>
                    <td style="text-align: left">
                        <strong>**Not Listed</strong></td>
                    <td>
                        <input id="Extras13" name="Extras13" type="number" /></td>
                    <td style="text-align: left">
                        &nbsp;</td>
                    <td>
                        &nbsp;</td>
                    <td style="text-align: left">
                        &nbsp;</td>
                    <td>
                        &nbsp;</td>
                    <td style="text-align: left">
                        &nbsp;</td>
                    <td>
                        &nbsp;</td>
                </tr>

                <tr>
                    <td colspan="8" class="texthead">
                        <strong>Other Plant Required</strong></td>
                </tr>

                <tr>
                    <td colspan="8">
                        <textarea id="OtherPlant" cols="20" name="OtherPlant" rows="10" placeholder="Describe in detail the plant required, but only if plant pull down menu equals Yes..." ></textarea></td>
                </tr>

                <tr>
                    <td colspan="8" class="texthead">
                        <strong>Notes</strong></td>
                </tr>
                <tr>
                    <td colspan="8">
                        <textarea id="Notes" cols="20" name="Notes" rows="10" placeholder="Describe in detail any important notes or extras required that are not already listed in the extras section..."></textarea>

                    </td>
                </tr>
            </table>

    </form>
</body>
</html>