<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>A1 Flues Site Survey</title>
    <link href="../Styles/Forms.css" rel="stylesheet" />    
    </head>
<body>
    <form id="TheForm">

        <input type="hidden" name="FormName" value="A1 Flues Sales Site Survey" />
        <input type="hidden" name="Created" value="" />
        <input type="hidden" name="CreatedBy" value="" />
        <input type="hidden" name="Updated" value="" />
        <input type="hidden" name="UpdatedBy" value="" />
        <input type="hidden" name="Template" value="" />

        <table style="width: 70%;">
            <tbody>
                <tr>
                    <td colspan="6" class="texthead" ; style="background-color: #fff7df; text-align: center; font-weight: bold;">SALES SURVEY CHECKLIST</td>
                </tr>
                <tr>
                    <td colspan="6">
                        Rules and Guidelines
                        <br />
                        <br />
                        1. Any labels highlighted in red means they are mandatory fields and a value must be entered.

                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="background-color: #fff7df">
                        This form is for use by a competent person who should fill in the form with as much detail as possible so that a detailed quotation can be provided to the customer.
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="background-color: #eaeaea">
                        
                        <b>Customer & Site Details</b></td>
                </tr>
                <tr>
                    <td style="background-color: #fff7df;" colspan="3">Customer</td>
                    <td style="background-color: #fff7df; text-align: left;" colspan="3">Site</td>
                </tr>
                <tr>
                    <td style="background-color: #fff7df;" colspan="3"><input id="CustomerName" name="CustomerName" type="text" /></td>
                    <td style="background-color: #fff7df;" colspan="3"><input id="SiteName" name="SiteName" type="text" /></td>
                </tr>

                <tr>
                    <td style="background-color: #fff7df;" colspan="3">Survey Date</td>
                    <td style="background-color: #fff7df; text-align: left;" colspan="3">Surveyer Name</td>
                </tr>

                <tr>
                    <td style="background-color: #fff7df;" colspan="3">

                        <input id="SurveyDate" name="SurveyDate" type="date" />
                    <td style="background-color: #fff7df;" colspan="3">
                        <input id="SurveyorName" name="SurveyorName" type="text" /></td>
                </tr>

                <tr>
                    <td colspan="6" class="texthead" ; style="font-weight: bold; background-color: #eaeaea">
                        Appliance Details (Are they new or existing boilers? / Are they already in situ? - Please give as much detail as possible)
                    </td>
                </tr>


                <tr>
                    <td style="width: 10%; text-align: left; font-weight: bold;">
                        &nbsp;</td>
                    <td style="width: 10%; text-align: left; font-weight: bold;">
                        Make
                    </td>
                    <td style="width: 10%; text-align: left; font-weight: bold;">
                        Model
                    </td>
                    <td style="width: 10%; text-align: left; font-weight: bold;">
                        No. Off
                    </td>
                    <td style="width: 10%; text-align: left; font-weight: bold;">
                        Type
                    </td>
                    <td style="width: 10%; text-align: left; font-weight: bold;">
                        KW Rating
                    </td>
                </tr>

                <tr>
                    <td>
                        1</td>
                    <td>
                        <input id="Make1" name="Make1" type="text" />
                    </td>
                    <td style="width: 5%;">
                        <input id="Model1" name="Model1" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="NumbOff1" name="NumbOff1" type="number" />
                    </td>
                    <td style="text-align: left">
                        <input id="Type1" name="Type1" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="KWRating1" name="KWRating1" type="number" />
                    </td>
                </tr>

                <tr>
                    <td>
                        2</td>
                    <td>
                        <input id="Make2" name="Make2" type="text" />
                    </td>
                    <td style="width: 5%;">
                        <input id="Model2" name="Model2" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="NumbOff2" name="NumbOff2" type="number" />
                    </td>
                    <td style="text-align: left">
                        <input id="Type2" name="Type2" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="KWRating2" name="KWRating2" type="number" />
                    </td>
                </tr>

                <tr>
                    <td>
                        3</td>
                    <td>
                        <input id="Make3" name="Make3" type="text" />
                    </td>
                    <td style="width: 5%;">
                        <input id="Model3" name="Model3" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="NumbOff3" name="NumbOff3" type="number" />
                    </td>
                    <td style="text-align: left">
                        <input id="Type3" name="Type3" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="KWRating3" name="KWRating3" type="number" />
                    </td>
                </tr>

                <tr>
                    <td>
                        4</td>
                    <td>
                        <input id="Make4" name="Make4" type="text" />
                    </td>
                    <td style="width: 5%;">
                        <input id="Model4" name="Model4" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="NumbOff4" name="NumbOff4" type="number" />
                    </td>
                    <td style="text-align: left">
                        <input id="Type4" name="Type4" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="KWRating4" name="KWRating4" type="number" />
                    </td>
                </tr>

                <tr>
                    <td>
                        5</td>
                    <td>
                        <input id="Make5" name="Make5" type="text" />
                    </td>
                    <td style="width: 5%;">
                        <input id="Model5" name="Model5" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="NumbOff5" name="NumbOff5" type="number" />
                    </td>
                    <td style="text-align: left">
                        <input id="Type5" name="Type5" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="KWRating5" name="KWRating5" type="number" />
                    </td>
                </tr>

                <tr>
                    <td>
                        6</td>
                    <td>
                        <input id="Make6" name="Make6" type="text" />
                    </td>
                    <td style="width: 5%;">
                        <input id="Model6" name="Model6" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="NumbOff6" name="NumbOff6" type="number" />
                    </td>
                    <td style="text-align: left">
                        <input id="Type6" name="Type6" type="text" />
                    </td>
                    <td style="text-align: left">
                        <input id="KWRating6" name="KWRating6" type="number" />
                    </td>
                </tr>


                <tr>
                    <td colspan="6" class="texthead" ; style="font-weight: bold; background-color: #eaeaea">
                        Roof Type / Flashing Type: (Flat/Angled roof / Roof Material / Slate / Wavy or Flat tiles / Membrane / Metal / Corrugated?)
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <textarea id="RoofType" name="RoofType" cols="125" rows="5" placeholder="Describe roof type / flashing type in detail..."></textarea>
                    </td>
                </tr>

                <tr>
                    <td class="texthead" ; style="font-weight: bold; background-color: #eaeaea" colspan="6">
                        Support Details: (Internal wall, external wall, mast etc?)
                        <br />
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <textarea id="SupportDetails" name="SupportDetails" cols="125" rows="5" placeholder="Enter support details here..."></textarea>
                    </td>
                </tr>

                <tr>
                    <td style="font-weight: bold" colspan="3">
                        Access
                    </td>
                    <td colspan="3">
                        <select id="Access" name="Access">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <textarea id="AccessDetails" name="AccessDetails" cols="125" rows="5" placeholder="Explain what access will be required for..."></textarea>
                    </td>
                </tr>

                <tr>
                    <td style="font-weight: bold" colspan="6">
                        Route Description: (please stand back when taking photos so the route is clear to everyone)
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold" colspan="6">
                        Is the flue going through a riser shaft, cupboard, chimney, external riser and/or connecting to an existing flue?
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <textarea id="FlueDetails" name="FlueDetails" cols="125" rows="5" placeholder="Enter route / flue details here..."></textarea>
                    </td>
                </tr>

                <tr>
                    <td style="font-weight: bold" >
                        Noise Requirements</td>
                    <td colspan="2">
                        <select id="NR" name="NR">
                            <option>Not Applicable</option>
                            <option>NR</option>
                            <option>DBA</option>
                        </select>
                    </td>
                    <td style="font-weight: bold">
                        Metres from outlet / lourves etc where applicable
                    </td>
                    <td style="text-align: left" colspan="2">
                        <input id="Metres" name="Metres" type="number" />
                    </td>
                </tr>

                <tr>
                    <td class="texthead" ; style="font-weight: bold; background-color: #eaeaea" colspan="6">
                        Realistic dates when works are required / programme of works, if known
                        <br />
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <textarea id="ProjectDateInfo" name="ProjectDateInfo" rows="5" placeholder="Enter details here..."></textarea>
                    </td>
                </tr>

                <tr>
                    <td class="texthead" ; style="font-weight: bold; background-color: #eaeaea" colspan="6">
                        Induction procedures: (Any special requirements / fit to work / DBS etc?)
                        <br />
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <textarea id="InductionInfo" name="InductionInfo" rows="5" placeholder="Enter details here..."></textarea>
                    </td>
                </tr>

                <tr>
                    <td class="texthead" ; style="font-weight: bold; background-color: #eaeaea" colspan="6">
                        Any resticted working hours: (Schools - half term / Manufacturing plants - shut down periods?)
                        <br />
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <textarea id="RWHInfo" name="RWHInfo" rows="5" placeholder="Enter details here..."></textarea>
                    </td>
                </tr>

                <tr>
                    <td class="texthead" ; style="font-weight: bold; background-color: #eaeaea" colspan="6">
                        Any other notes / useful information
                        <br />
                    </td>
                </tr>

                <tr>
                    <td colspan="6">
                        <textarea id="Notes" name="Notes" rows="20" placeholder="Enter details here..."></textarea> </td>
                </tr>

                <tr>
                    <td colspan="2">Site Staff Name</td>
                    <td colspan="2">Position</td>
                    <td colspan="2">Date</td>

                </tr>
                <tr>
                    <td colspan="2">
                        <input id="SiteStaffName" name="SiteStaffName" type="text" /></td>
                    <td colspan="2">
                        <input id="SiteStaffPosition" name="SiteStaffPosition" type="text" /></td>
                    <td colspan="2">
                        <input id="DateSigned" name="DateSigned" type="date" /></td>
                </tr>
</table>

</form>
</body>
</html>